*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

button {
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;

}

.grid-item {
    width: 16px;
    height: 16px;
    background-color: #e0e0e0;
    /* Light grey background */
    border: 1px solid #ccc;
}

.grid-item:hover {
    background-color: black;

}